{#
  This file is a copy of:
  node_modules/govuk-frontend/components/header/template.njk

  1. Wrap it in a macro
  2. Remove the SVG
  3. Replace GOV.UK with DWP
  4. Change app/views/layout.html to use this instead
#}
{% macro govukHeaderAlt(params) %}
<header class="govuk-header {{ params.classes if params.classes }}" role="banner" data-module="header"
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">

    <div class="govuk-header__logo">
      <a href="{{ params.homepageUrl | default('/') }}" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP
          </span>
        </span>
        {% if (params.productName) %}
        <span class="govuk-header__product-name">
          {{ params.productName }}
        </span>
        {% endif %}
      </a>
    </div>
    {% if params.serviceName or params.navigation  %}
    <div class="govuk-header__content">

    {% if params.serviceName %}
    <a href="{{ params.serviceUrl }}" class="govuk-header__link govuk-header__link--service-name">
      {{ params.serviceName }}
    </a>
    {% endif %}

    {% if params.navigation %}
    <button role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation {{ params.navigationClasses if params.navigationClasses }}" aria-label="Top Level Navigation">
        {% for item in params.navigation %}
          {% if item.href and item.text %}
            <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if item.active }}">
              <a class="govuk-header__link" href="{{ item.href }}">
                {{ item.text }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
    </div>
    {% endif %}
  </div>
</header>
{% endmacro %}
